@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager


@if (signInManager.IsSignedIn(User))
{ 
    <form method="post" id="logoutForm" asp-action="Logoff" asp-controller="Account">
        <ul class="nav navbar-nav">
            <li class="navbar-text text-white">Hello, @(await Component.InvokeAsync("FirstName"))!</li>
            <li>
                <input class="btn btn-link text-white" type="submit" value="Log off" />
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav">
        <li>
            <a class="nav-link text-white" id="loginLink" asp-controller="Account" asp-action="Login">Sign In</a>
        </li>
        <li>
            <a class="nav-link text-white" id="registerLink" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    </ul>
   
}