@{
    ViewData["Title"] = "Home Page";
}
@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> signInManager

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в PetSearcher</h1>
    <h3>Что такое PetSearcher?</h3>
    <p>PetSearcher - это сервис для поиска потерявшихся домашних животных. Он позволяет владельцу быстро разместить объявление о пропаже питомца, указать место, где он в последний раз его видел, фото своего домашнего животного и контакты для связи. После размещения объявление сразу же попадает на доску объявлений, где его могут просматривать все пользователи сети интернет. </p>
    
        <p>
            <a class="btn btn-success btn-lg" asp-controller="Notice" asp-action="Create">Разместить объявление</a>
        </p>
    
</div>
